    </main>
    <footer>
        <div id="footer-placeholder">
            <p>&copy; 2025 Funigo. Tous droits réservés.</p>
            <p>Contact: info@funigo.com</p>
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>