

<%- include('../partials/header_gram') %> { title: title }) %>

<div id=japon-ile-titre>
    <h2>Grammaire</h2>
</div>

<div id="japon-ile-carte">
    <img src="/images/cartes/japon/carte-kyushu.jpg" alt="Carte Kyushu"  >
</div>

<%- include('../partials/footer') %>