
<%- include('../partials/header_honshu') %>

<div id=japon-ile-titre>
    <h2>Ile de Honshu</h2>
</div>

<div id="japon-ile-carte">
    <img src="/images/cartes/japon/carte-honshu-region.png" alt="Carte Honshu"  >
</div>

<%- include('../partials/footer') %>

