
<%- include('../partials/header_kyushu') %>

<div id=japon-ile-titre>
    <h2>Ile de kyushu</h2>
</div>

<div id="japon-ile-carte">
    <img src="/images/cartes/japon/kyushu-carte2.jpg" alt="Temple Kiyomizu"  >
</div>

<%- include('../partials/footer') %>

<style>
    
    #japon-ile-titre { padding: 10px;}
    /* #japon-ile-titre > h2 { color: white; background-color: #0c800c; width: 200px; margin: auto;  margin-top: 5px; margin-bottom: 5px; text-align: center; border-radius: 5px;} */
    #japon-ile-titre > h2 { 
        color: white; 
        background-color: #0c800c; 
        width: 400px; 
        margin: auto;
        border-radius: 5px;
        text-align: center; /* Pour le centrage horizontal */

        /* --- NOUVELLE MÉTHODE --- */
        /* On retire la hauteur et on utilise du padding vertical */
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #japon-ile-carte > img { display: block; margin: auto; width: 50% ; max-width : 500px; overflow :hidden; }

    @media (max-width: 900px) {
        #japon-ile-titre > h2 { width: 250px;  padding-top: 5px; padding-bottom: 5px;}
        #japon-ile-carte > img { width: 60%; max-width : 400px; margin-top: 10px;}
    }
  
</style>