

<%- include('../partials/header_gram') %> 
<div class="content content-black"> 
<div >
    <h2>Le vocabulaire</h2>
</div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">

    <a href="/vocab_adjectif" class="vocab_href">Adjectif 形容詞 (けいようし) </a>
    <a href="/vocab_adverbe" class="vocab_href">Adverbe  副詞 (ふくし)</a>
    <a href="/vocab_mot_interrogatif" class="vocab_href">Mot Interrogatif 疑問詞 (ぎもんし)</a>
</div>

<%- include('../partials/footer') %>

